html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 1rem !important;
}

* {
  box-sizing: border-box;
}
