.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  min-width: 100vw;
}


.main{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.containerButton{
  margin-top: 2rem;
  text-align: center;
}
